.container {
	width: 100%;
}

.informations {
	width: 100%;
	height: "100vh";

	display: flex;
	flex-direction: column;

	padding: 48px 24px;
}

.upperSection {
	display: flex;
	flex-direction: column;
}

.name {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
}

.occupation {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	margin-top: 12px;
}

.introduction {
	width: 320px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #94a3b8;
	margin-top: 16px;
}

.sections {
	display: none;
	margin-top: 70px;
}

.section {
	display: flex;
	align-items: center;
	width: 180px;
	gap: 12px;
	padding: 12px 0px;
}

.section:hover {
	cursor: pointer;
}

.section:hover .sectionLine {
	width: 60px;
	border: 1px solid #d6dee9;
}

.section:hover .sectionTitle {
	color: #d6dee9;
}

.active > .sectionTitle {
	color: #d6dee9;
}

.active > .sectionLine {
	width: 60px;
	border: 1px solid #d6dee9;
}

.sectionLine {
	width: 30px;
	border: 1px solid #64748b;
	transition: 0.3s;
}

.sectionTitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #64748b;
	letter-spacing: 1.2px;
	transition: 0.3s;
}

.links {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: 32px;
	margin-left: 4px;
}

.svg {
	fill: #90a1b8;
	width: 24px;
	height: 24px;
	transition: 0.3s;
}

.svg:hover {
	fill: #d6dee9;
	cursor: pointer;
}

@media screen and (min-width: 640px) {
	.name {
		font-size: 48px;
		line-height: 48px;
	}

	.occupation {
		font-size: 20px;
	}
}

@media screen and (min-width: 768px) {
	.informations {
		padding: 80px 48px;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		width: 50%;
		height: 100vh;

		display: flex;
		justify-content: flex-end;

		position: sticky;
		top: 0;
	}

	.informations {
		max-width: 528px;
		width: 80%;
		height: 100vh;
		padding: 96px 0px;

		justify-content: space-between;
	}

	.sections {
		display: flex;
		flex-direction: column;
	}
}
